include ../text-field/text-field

mixin dropdown({ name, label, value, disabled=false, theme, align, mask, required=false, show=false })

    -const classes = theme ? `dropdown js-dropdown dropdown_theme_${theme}` : 'dropdown js-dropdown';

    div(class = show ? `${classes} dropdown_is_showed` : classes)
        div.dropdown__button-container.js-dropdown__button-container
            +text-field({ 
                type: 'button',
                theme: 'icon',
                style: 'cursor: pointer',
                icon: {
                    text: 'expand_more',
                    wrapperClass: 'dropdown__icon'
                },
                hiddenInput: {
                    name,
                    required
                },
                value, 
                mask, 
                label,
                disabled
            })
        
        -const viewportAlignClasses = align ? `dropdown__viewport js-dropdown__viewport dropdown__viewport_align_${align}` : 'dropdown__viewport js-dropdown__viewport';

        div(class=viewportAlignClasses)
            div.dropdown__container.js-dropdown__container
                if block
                    block