include ../text-field/text-field

mixin dropdown({ textField, offset, alignRight,  show })

    -let classes = 'dropdown js-dropdown';
    -classes = offset ? `${classes} dropdown_with_offset` : `${classes}`;
    -classes = show ? `${classes} dropdown_shown` : `${classes}`;
    -classes = alignRight ? `${classes} dropdown_align_right` : `${classes}`;

    div(class = classes)
        +text-field({ 
            label: textField.label,
            input: {
                type: 'button',
                name: textField.input.name,
                value: textField.input.value,
                disabled: textField.input.disabled,  
                required: textField.input.required,
                activityClass: 'dropdown__button js-dropdown__button'
            },
            icon: {
                text: 'expand_more',
                activityClass: 'dropdown__icon'
            },
        })

        div(class = 'dropdown__viewport')
            div(class = 'dropdown__container js-dropdown__container')
                if block
                    block