include ../text-field/text-field
include ../icon/icon

mixin dropdown({ placeholder, disabled=false, show=false, theme='default' })
    div.dropdown.js-dropdown(data-state-show=show data-state-disabled=disabled data-theme=theme)
        button(type='button').dropdown__button.js-dropdown__button
            +text-field({ placeholder, disabled: true, style: 'border: none; cursor: pointer; padding-right: 0;' })
                div.text-field__icon
                    div.dropdown__icon
                        +icon({ icon: 'expand_more' })  
        div.dropdown__viewport.js-dropdown__viewport
            div.dropdown__container.js-dropdown__container
                if block
                    block