mixin radio({ name, value, label, checked=false, disabled=false })
    label.radio
        input.radio__input(
            type="radio" 
            name=name 
            value=value 
            checked=checked 
            disabled=disabled
            )
        div.radio__mark
        if label
            span.radio__label #{label}