include ../like/like

mixin review(review, lang)
    -
        const getImagePath = require('../../globals/helpers/getImagePath.js');

        const {
            user,
            pubdate,
            text,
            like 
        } = review;

    article(
        class = 'review js-review'
        data-lang = lang
    )
        img(
            class = 'review__avatar'
            src = getImagePath(user.image),
            alt = `${user.name} ${user.surname}`
            title = `${user.name} ${user.surname}`
        )

        div(class = 'review__like')
            +like(like, lang)

        h3(class = 'review__name') #{user.name} #{user.surname}
        
        time(
            class = 'review__pubdate js-review__pubdate'
            datetime = pubdate
        ) 

        p(class = 'review__text') #{text}