mixin button({ label, type='submit', style, theme, disabled=false, icon })

    -const classes = theme ? `button js-button button_theme_${theme}` : 'button js-button';

    button(
        class = classes,
        disabled=disabled
        style=style
        type=type
        )
        span.button__label #{label}

        if icon
            span.button__icon
                |#{icon}