mixin button({ type='submit', disabled=false, label, activityClass, color, inline, icon })

    -let classes = 'button js-button';
    
    -classes = activityClass ? `${classes} ${activityClass}` : classes;
    -classes = color ? `${classes} button_color_${color}` :classes
    -classes = inline ? `${classes} button_inline` : classes;
    -classes = icon ? `${classes} button_with_icon` : classes;

    button(
        class = classes
        disabled = disabled
        style = style
        type = type
    )
        p(class = 'button__label') #{label}

        if icon && !inline
            span(
                class = 'button__icon' 
                aria-hidden='true'
            )
                |#{icon}