include ../icon/icon

mixin expander({ label, expand=false, disabled=false })
    div.expander.js-expander(data-is-expanded=expand)
        button.expander__button.js-expander__button(type="button" disabled=disabled)
            h3.expander__label #{label}
            div.expander__icon
                +icon({icon: 'expand_more'})
        div.expander__viewport
            div.expander__container.js-expander__container
                if block
                    block