include ./datepicker/datepicker
include ../text-field/text-field
include ../button/button

mixin date-dropdown(dateDropdown, lang)
    -
        const uniqid = require('uniqid');
        const id = uniqid();

        const {
            isTwin=false,
            expanded=false, 
            autoApply=false,
            required=false,
            disabled=false,
            initValue,
            controlClass 
        } = dateDropdown;

        const i18n = require('../../components/date-dropdown/i18n.json')[lang];
        
        const {
                CLEAR,
                APPLY,
                ARRIVAL,
                ARRIVAL_TIME,
                DEPARTURE,
                DEPARTURE_TIME,
                DATE_RANGE_PLACEHOLDER,
                DATE_SINGLE_PLACEHOLDER,
                TIME_OF_STAY,
                CALENDAR
            } = i18n;

    div(
        class = controlClass ? `date-dropdown js-date-dropdown ${controlClass}` : 'date-dropdown js-date-dropdown'
        data-is-twin = isTwin
        data-auto-apply = autoApply
        data-lang = lang
    )
        if isTwin
            +text-field({ 
                disabled,  
                required,
                label: ARRIVAL,
                controlClass: 'js-date-dropdown__text-field',
                type: 'button',
                name: 'arrival',
                placeholder: DATE_SINGLE_PLACEHOLDER,
                title: ARRIVAL_TIME,
                ariaExpanded: `${expanded}`,
                ariaControls: `datepicker-${id}`,
                input: {
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })
            +text-field({ 
                disabled,  
                required,
                label: DEPARTURE,
                controlClass: 'js-date-dropdown__text-field',
                type: 'button',
                name: 'departure',
                placeholder: DATE_SINGLE_PLACEHOLDER,
                title: DEPARTURE_TIME,
                ariaExpanded: `${expanded}`,
                ariaControls: `datepicker-${id}`,
                input: {
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })

        else 
            +text-field({ 
                disabled,  
                required,
                label: TIME_OF_STAY,
                controlClass: 'js-date-dropdown__text-field',
                type: 'button',
                name: 'rentPeriod',
                placeholder: DATE_RANGE_PLACEHOLDER,
                title: TIME_OF_STAY,
                ariaExpanded: `${expanded}`,
                ariaControls: `datepicker-${id}`,
                input: {
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })

        div(class = 'date-dropdown__viewport')
            section(
                class = 'date-dropdown__container js-date-dropdown__container'
                id = `datepicker-${id}`
            )
                +datepicker(initValue, lang)

                if (!autoApply)
                    div(class = 'date-dropdown__control-panel')
                        +button({
                            type: 'button',
                            label: CLEAR,
                            link: true,
                            color: 'dark-shade',
                            controlClass: 'js-date-dropdown__clear-button'
                        })
                        +button({
                            type: 'button',
                            label: APPLY,
                            link: true,
                            color: 'purple',
                            controlClass: 'js-date-dropdown__apply-button'
                        })