include ./datepicker/datepicker
include ../text-field/text-field
include ../button/button

mixin date-dropdown({ isTwin=false, expanded=false, autoApply=false, textField={}, datepicker={}, clearButton={}, applyButton={} })
    div(
        class = 'date-dropdown js-date-dropdown'
        data-is-twin = isTwin
        data-auto-apply = autoApply
    )
        if isTwin
            +text-field({ 
                label: textField.from.label,
                controlClass: 'js-date-dropdown__text-field',
                input: {
                    type: 'button',
                    name: textField.from.input.name,
                    placeholder: textField.from.input.placeholder,
                    disabled: textField.from.input.disabled,  
                    required: textField.from.input.required,
                    title: textField.from.input.title,
                    ariaLabel: textField.from.input.ariaLabel,
                    ariaExpanded: `${expanded}`,
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })
            +text-field({ 
                label: textField.to.label,
                controlClass: 'js-date-dropdown__text-field',
                input: {
                    type: 'button',
                    name: textField.to.input.name,
                    placeholder: textField.to.input.placeholder,
                    disabled: textField.to.input.disabled,  
                    required: textField.to.input.required,
                    title: textField.to.input.title,
                    ariaLabel: textField.to.input.ariaLabel,
                    ariaExpanded: `${expanded}`,
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })

        else 
            +text-field({ 
                label: textField.label,
                controlClass: 'js-date-dropdown__text-field',
                input: {
                    type: 'button',
                    name: textField.input.name,
                    placeholder: textField.input.placeholder,
                    disabled: textField.input.disabled,  
                    required: textField.input.required,
                    title: textField.input.title,
                    ariaLabel: textField.input.ariaLabel,
                    ariaExpanded: `${expanded}`,
                    activeClass: 'date-dropdown__button',     
                    controlClass: 'js-date-dropdown__button'
                },
                icon: {
                    text: 'expand_more',
                    activeClass: 'date-dropdown__icon'
                }
            })

        div(class = 'date-dropdown__viewport')
            div(class = 'date-dropdown__container js-date-dropdown__container')
                +datepicker({
                    initValue: datepicker.initValue,
                    lang: datepicker.lang ? datepicker.lang : 'ru'
                })

                if (!autoApply)
                    div(class = 'date-dropdown__control-panel')
                        +button({
                            type: 'button',
                            label: clearButton.label,
                            link: true,
                            color: 'dark-shade',
                            controlClass: 'js-date-dropdown__clear-button'
                        })
                        +button({
                            type: 'button',
                            label: applyButton.label,
                            link: true,
                            color: 'purple',
                            controlClass: 'js-date-dropdown__apply-button'
                        })