mixin counter({ label, name, minValue, maxValue, defaultValue=minValue, plural={ one: label }, isBound='false', boundName })
    div.counter.js-counter(
        data-default-value=defaultValue
        data-min-value=minValue 
        data-max-value=maxValue 
        data-plural=plural
        data-is-bound=isBound
        data-bound-name=boundName
        )
        span.counter__label.js-counter__label #{ label }
        button.counter__decrement.js-counter__decrement(type='button') -
        input.counter__input.js-counter__input(type='number' name=name value=minValue tabindex='-1')
        button.counter__increment.js-counter__increment(type='button') +