mixin counter({ label, name, minValue, maxValue, defaultValue=minValue, plural={ one: label }, isBound='false', boundName })
    div.counter.js-counter(
        data-default-value=defaultValue
        data-min-value=minValue 
        data-max-value=maxValue 
        data-plural=plural
        data-is-bound=isBound
        data-bound-name=boundName
        )
        span.counter__label #{ label }
        div.counter__decrement-container.js-counter__decrement-container
            +button({
                label: '-',
                type: 'button',
                theme: 'shaped-dark-thin'
            })
        input.counter__input.js-counter__input(name=name value=minValue tabindex='-1')
        div.counter__increment-container.js-counter__increment-container
            +button({
                label: '+',
                type: 'button',
                theme: 'shaped-dark-thin'
            })