include ../checkbox-list/checkbox-list

mixin expandable-checkbox-list(expandableCheckboxList, lang)
    -
        const uniqid = require('uniqid');
        const id = uniqid();

        const {
            label,
            expanded=false,
            disabled=false,
            title,
            checkboxList
        } = expandableCheckboxList;

    div(class = expanded ? `expandable-checkbox-list js-expandable-checkbox-list expandable-checkbox-list_expanded` : 'expandable-checkbox-list js-expandable-checkbox-list')
        button(
            class = 'expandable-checkbox-list__button js-expandable-checkbox-list__button'
            type = 'button' 
            title = title
            disabled = disabled ? true : false
            aria-expanded = `${expanded}`
            aria-controls = `checkbox-list-${id}`
        )
            span(class = 'expandable-checkbox-list__label') #{label}
            span(
                class = 'expandable-checkbox-list__icon'
                aria-hidden = 'true'
            ) expand_more
            
        div(class = 'expandable-checkbox-list__expand-container')
            +checkbox-list(checkboxList, `checkbox-list-${id}`)