include ./rate-button/rate-button

mixin rate-bar(rateBar, lang)
    -
        const pluralize = require('../../globals/helpers/pluralize.js');

        const {
            name,
            count,
            rating,
            disabled
        } = rateBar;

        const i18n = require('../../components/rate-bar/i18n.json')[lang]; 

        const {
            STAR_PLURAL,
            OUT_OF,
            RATING
        } = i18n;

    div(
        class = 'rate-bar js-rate-bar'
        role = 'radiogroup'
        aria-label = `${RATING}: ${rating} ${OUT_OF} ${count} ${pluralize(lang, STAR_PLURAL, count)}`
    )
        - let index = 0;
        while index < count
            -
                let checked = false;

                index++;
        
                if (index === rating) { checked = true; }

            +rate-button({
                name, 
                disabled, 
                checked,
                value: index, 
                title: `${index} ${pluralize(lang, STAR_PLURAL, index)}`,
                ariaLabel: `${index} ${pluralize(lang, STAR_PLURAL, index)}`
            })