include ./tooltip/tooltip
include ../quantity-dropdown/quantity-dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin form-booking({ root={}, room={} })
    form(
        class = 'form-booking js-form-booking'
        name = `${room.number}_booking`
        method = 'post'
        autocomplete = 'off'
    )
        h2(
            class = 'form-booking__heading'
        ) #{root.heading}

        section(class = 'form-booking__header-section')  
            h3(class = 'form-booking__number ') № #{room.number}
                if room.isLuxury
                    strong(class = 'form-booking__category') &nbsp;#{root.headerSection.category}

            p(class = 'form-booking__rent') #{room.rent}
                small(class = 'form-booking__term') &nbsp;#{root.headerSection.term}

        +date-dropdown({
            controlClass: 'js-form-booking__date-dropdown',
            isTwin: root.dateDropdown.isTwin,
            textField: root.dateDropdown.textField,
            datepicker: root.dateDropdown.datepicker,
            clearButton: root.dateDropdown.clearButton,
            applyButton: root.dateDropdown.applyButton
        })
        +quantity-dropdown(root.quantityDropdown)

        section(class = 'form-booking__price-section')
            h3(class = 'form-booking__label') #{root.priceListSection.heading}
            dl(class = 'form-booking__price-list')
                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description')
                        span(class = 'form-booking__text')
                            span(class = 'form-booking__rent js-form-booking__rent') #{room.rent}
                            |&nbsp;x&nbsp;
                            span(
                                class = 'form-booking__period js-form-booking__period'
                                data-plural = root.priceListSection.period.plural
                            )

                    dd(class = 'form-booking__summary js-form-booking__summary')

                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description') 
                        span(class = 'form-booking__text') #{root.priceListSection.service.text}
                            if room.discount
                                | : #{root.priceListSection.discount} 
                                span(class = 'form-booking__discount js-form-booking__discount') #{room.discount}
                        +tooltip(root.priceListSection.service.tooltip)

                    dd(class = 'form-booking__service js-form-booking__service') #{room.service}

                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description') 
                        span(class = 'form-booking__text') #{root.priceListSection.addition.text}
                        +tooltip(root.priceListSection.addition.tooltip)

                    dd(class = 'form-booking__addition js-form-booking__addition') #{room.addition}

                div(class = 'form-booking__total')
                    dt(class = 'form-booking__description') #{root.priceListSection.total}
                    dd(class = 'form-booking__price js-form-booking__price')
                    
            
        div(class = 'form-booking__submit-button')
            +button(root.submitButton)

        input(
                name = 'price'
                class = 'form-booking__price-input js-form-booking__price-input'
                readonly
                hidden
                aria-hidden = 'true'
            )