include ./tooltip/tooltip
include ../quantity-dropdown/quantity-dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin form-booking(formBooking, lang)
    -
        const currencyFormat = require('../../globals/helpers/currencyFormat.js');

        const {
            number,
            isLuxury,
            rent,
            service,
            addition,
            discount,
            dateInitValue,
            guestsInitValue
        } = formBooking;

        const i18n = require('../../components/form-booking/i18n.json')[lang]; 

        const {
            DAY_PLURAL,
            NUMBER_OF_GUESTS,
            PRICE_LIST,
            DISCOUNT,
            SERVICE_FEE,
            ADDITION_SERVICE_FEE,
            TOTAL,
            BOOK,
            GUESTS,
            GUEST_PLURAL, 
            ADULTS,
            ADULT_PLURAL,
            KIDS,
            KID_PLURAL,
            BABIES,
            BABY_PLURAL,
            LUXURY,
            PER_DAY
        } = i18n;

    form(
        class = 'form-booking js-form-booking'
        name = `${number}_booking`
        method = 'post'
        autocomplete = 'off'
    )
        h2(class = 'form-booking__heading')  
            span(class = 'form-booking__number') № #{number}
                if isLuxury
                    strong(class = 'form-booking__category') &nbsp;#{LUXURY}

            span(class = 'form-booking__rent') 
                | #{currencyFormat(lang, rent.currency, rent.number)}
                small(class = 'form-booking__term') &nbsp;#{PER_DAY}

        +date-dropdown({
            controlClass: 'js-form-booking__date-dropdown',
            initValue: dateInitValue,
            isTwin: true,
            required: true
        }, lang)
        +quantity-dropdown({
            label: GUESTS,
            name: 'guests',
            placeholder: NUMBER_OF_GUESTS,
            required: true,    
            title: NUMBER_OF_GUESTS,
            counterList: [
                {
                    label: ADULTS,
                    title: ADULTS,
                    name: 'adults',
                    initValue: guestsInitValue.adults,
                    maxValue: 5,
                    plural: ADULT_PLURAL,
                    boundPlural: GUEST_PLURAL,
                    isBound: true,
                    boundName: 'guests'
                },
                {
                    label: KIDS,
                    title: KIDS,
                    name: 'kids',
                    initValue: guestsInitValue.kids,
                    maxValue: 5,
                    plural: KID_PLURAL,
                    boundPlural: GUEST_PLURAL,
                    isBound: true,
                    boundName: 'guests'
                },
                {
                    label: BABIES,
                    title: BABIES,
                    name: 'babies',
                    initValue: guestsInitValue.babies,
                    maxValue: 5,
                    plural: BABY_PLURAL,
                }
            ]
        }, lang)

        section(class = 'form-booking__price-section')
            h3(class = 'form-booking__label') #{PRICE_LIST}
            dl(class = 'form-booking__price-list')
                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description')
                        span(class = 'form-booking__text')
                            span(class = 'form-booking__rent js-form-booking__rent') #{currencyFormat(lang, rent.currency, rent.number)}
                            |&nbsp;x&nbsp;
                            span(
                                class = 'form-booking__period js-form-booking__period'
                                data-plural = DAY_PLURAL
                            )

                    dd(class = 'form-booking__summary js-form-booking__summary')

                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description') 
                        span(class = 'form-booking__text') #{SERVICE_FEE}
                            if discount
                                | : #{DISCOUNT} 
                                span(class = 'form-booking__discount js-form-booking__discount') 
                                    | #{currencyFormat(lang, discount.currency, discount.number)}
                        +tooltip(service.tooltip, lang)

                    dd(class = 'form-booking__service js-form-booking__service') 
                        | #{currencyFormat(lang, service.currency, service.number)}

                div(class = 'form-booking__price-item')
                    dt(class = 'form-booking__description') 
                        span(class = 'form-booking__text') #{ADDITION_SERVICE_FEE}
                        +tooltip(addition.tooltip, lang)

                    dd(class = 'form-booking__addition js-form-booking__addition') 
                        | #{currencyFormat(lang, addition.currency, addition.number)}

                div(class = 'form-booking__total')
                    dt(class = 'form-booking__description') #{TOTAL}
                    dd(class = 'form-booking__price js-form-booking__price')
                    
            
        div(class = 'form-booking__submit-button')
            +button({
                label: BOOK,
                color: 'purple',
                fill: true,
                icon: 'arrow_forward'
            })

        input(
            name = 'price'
            class = 'form-booking__price-input js-form-booking__price-input'
            readonly
            hidden
            aria-hidden = 'true'
        )