mixin range({ label, valueRange, defaultValueRange, step, margin  })
    div.range.js-range
        h3.range__label #{label}
        input.range__input.js-range__input(
            type='text' 
            tabindex='-1' 
            readonly
            )
        div.range__slider.js-range__slider(
            data-value-range=valueRange 
            data-default-value-range=defaultValueRange 
            data-step=step
            data-margin=margin
            )