mixin carousel({ images, ariaLabel, responsive=false, showControls=true, nextButton={}, prevButton={}, showBullets=true, autoplay=false })

    -const getImagePath = require('../../globals/helpers/getImagePath.js');    
    -let classes = 'carousel js-carousel';
    -classes = responsive ? `${classes} carousel_responsive` : classes;

    div(
        class = classes
        data-autoplay-delay = autoplay ? autoplay.delay : false
        data-show-controls = showControls ? true : false
    )
        ul(class = 'carousel__slides')    
            each img, index in images
                -
                    const path = getImagePath({
                        src: img.src,
                        source: img.source
                    })

                li(class = 'carousel__slide')
                    picture(class = 'carousel__picture')
                        if index === 0
                            if path.source
                                each res in path.source
                                    source(
                                        media = res.media 
                                        srcset = res.srcset
                                    )
                            img(
                                class = 'carousel__image'
                                src = path.src
                                alt = img.alt
                            )
                        
                        else 
                            if path.source
                                each res in path.source
                                    source(
                                        media = res.media 
                                        data-srcset = res.srcset
                                    )
                            img(
                                class = 'carousel__image carousel__image_lazy'
                                data-src = path.src
                                alt = img.alt
                            )
                            div(class = 'carousel__image-preloader')
                            
        if showControls
            div(class = 'carousel__controls')
                button(
                    class = 'carousel__control-button carousel__control-button_prev js-carousel__control-button_prev'
                    aria-label = prevButton.ariaLabel ? prevButton.ariaLabel : 'prev button'
                )
                    div(
                        class = 'carousel__icon carousel__icon_prev'
                        aria-hidden = 'true'
                    ) expand_more

                button(
                    class = 'carousel__control-button carousel__control-button_next js-carousel__control-button_next'
                    aria-label = nextButton.ariaLabel ? nextButton.ariaLabel : 'next button'
                )
                    div(
                        class = 'carousel__icon carousel__icon_next'
                        aria-hidden = 'true'
                    ) expand_more