mixin carousel({ images, ariaLabel, responsive=false, showControls=true, showBullets=true, autoplay=false })

    -const getImagePath = require('../../globals/helpers/getImagePath.js');    
    -let classes = 'carousel js-carousel';
    -classes = responsive ? `${classes} carousel_responsive` : classes;

    div(
        class = classes
        data-autoplay-delay = autoplay ? autoplay.delay : false
        tabindex = showControls ? '0' : false
    )
        ul(class = 'carousel__slides')    
            each img in images
                -
                    const path = getImagePath({
                        src: img.src,
                        source: img.source
                    })

                li(class = 'carousel__slide')
                    picture(class = 'carousel__picture')
                        if path.source
                            each res in path.source
                                source(
                                    media = res.media 
                                    srcset = res.srcset
                                )
                        img(
                            class = 'carousel__image'
                            src = path.src
                            loading = 'lazy'
                            alt = img.alt
                        )

        if showControls
            div(class = 'carousel__controls js-carousel__controls')
                button(
                    class = 'carousel__control-button carousel__control-button_prev js-carousel__control-button_prev'
                    tabindex = '-1'
                )
                    div(
                        class = 'carousel__icon carousel__icon_prev'
                        aria-hidden = 'true'
                    ) expand_more

                button(
                    class = 'carousel__control-button carousel__control-button_next js-carousel__control-button_next'
                    tabindex = '-1'
                )
                    div(
                        class = 'carousel__icon carousel__icon_next'
                        aria-hidden = 'true'
                    ) expand_more