mixin carousel(carousel, lang)
    -
        const getImagePath = require('../../globals/helpers/getImagePath.js');   
        
        const {
            imageList,
            responsive=false,
            showControls=false,
            showBullets=false,
            autoplay=false
        } = carousel;

        const i18n = require('../../components/carousel/i18n.json')[lang]; 

        const { 
            PREV_SLIDE, 
            NEXT_SLIDE 
        } = i18n;

        let classes = 'carousel js-carousel';

        classes = responsive ? `${classes} carousel_responsive` : classes;

    div(
        class = classes
        data-autoplay = autoplay ? true : false
        data-show-controls = showControls ? true : false
    )
        ul(class = 'carousel__slides')    
            each item, index in imageList
                -
                    const path = getImagePath(item.src, item.source)

                li(class = 'carousel__slide')
                    picture(class = 'carousel__picture')
                        if index === 0
                            if path.source
                                each item in path.source
                                    source(
                                        media = item.media 
                                        srcset = item.srcset
                                    )
                            img(
                                class = 'carousel__image'
                                src = path.src
                                alt = item.alt ? item.alt : false
                                width = item.width ? item.width : false
                                height = item.height ? item.height : false
                                loading = item.width && item.height ? 'lazy' : 'auto'
                            )
                        
                        else 
                            if path.source
                                each item in path.source
                                    source(
                                        media = item.media 
                                        data-srcset = item.srcset
                                    )
                            img(
                                class = 'carousel__image carousel__image_lazy'
                                data-src = path.src
                                alt = item.alt ? item.alt : false
                                width = item.width ? item.width : false
                                height = item.height ? item.height : false
                                loading = item.width && item.height ? 'lazy' : 'auto'
                            )
                            div(class = 'carousel__image-preloader')
                            
        if showControls
            div(class = 'carousel__controls')
                button(
                    class = 'carousel__control-button carousel__control-button_prev js-carousel__control-button_prev'
                    aria-label = PREV_SLIDE
                )
                    span(
                        class = 'carousel__icon'
                        aria-hidden = 'true'
                    ) expand_more

                button(
                    class = 'carousel__control-button carousel__control-button_next js-carousel__control-button_next'
                    aria-label = NEXT_SLIDE
                )
                    span(
                        class = 'carousel__icon'
                        aria-hidden = 'true'
                    ) expand_more