mixin checkbox(checkbox)
    -
        const uniqid = require('uniqid');
        const id = uniqid();
        
        const {
            name,
            label,
            title,
            description,
            checked=false,
            disabled=false
        } = checkbox;

    label(class = 'checkbox')     
        input(
            class = 'checkbox__input'
            type = 'checkbox' 
            name = name
            title = title ? title : false
            checked = checked ? true : false
            disabled = disabled ? true : false
            aria-labelledby = description ? `checkbox-label-${id}` : false
            aria-describedby = description ? `checkbox-description-${id}` : false
        )

        if description
            b(
                class = 'checkbox__label'
                id = `checkbox-label-${id}`
            ) !{label}
            small(
                class = 'checkbox__description'
                id = `checkbox-description-${id}`
            ) !{description}

        else
            span(class = 'checkbox__label') !{label}