mixin checkbox({ name, label, describtion, theme, checked=false, disabled=false })

    -const classes = theme ? `checkbox js-checkbox checkbox_theme_${theme}` : 'checkbox js-checkbox';

    label(class = classes)     
        input.checkbox__input(
            type="checkbox" 
            name=name 
            checked=checked 
            disabled=disabled
            )
        div.checkbox__mark
        if label
            span.checkbox__label #{label}
        if describtion
            span.checkbox__describtion #{describtion}