include ./social-list/social-list
include ../logo/logo
include ../link-list/link-list
include ../subscribtion-field/subscribtion-field

mixin footer(footer, lang)
    -
        const {
            promo,
            navLinkList,
            aboutLinkList,
            supportLinkList,
            socialList
        } = footer;

        const i18n = require('../../components/footer/i18n.json')[lang]; 

        const {
            FOOTER_SITE,
            MAIN_PAGE,
            NAVIGATION,
            ABOUT_US,
            SUPPORT,
            SUBSCRIBTION,
            WE_IN_SOCIAL_MEDIA,
            COPYRIGHT,
            SPECIAL_OFFERS
        } = i18n;

    footer(class = 'footer')
        h2(class = 'footer__heading visually-hidden') #{FOOTER_SITE}
        div(class = 'footer__content')
            a(
                class = 'footer__logo-link' 
                href = './login-page.html',
                title = MAIN_PAGE
                aria-label = MAIN_PAGE
            )
                +logo()

            section(class = 'footer__promo') 
                p(class = 'footer__paragraph') !{promo}

            nav(class = 'footer__nav')
                section(class = 'footer__navigation')
                    h3(class = 'footer__label') #{NAVIGATION}
                    +link-list(navLinkList)

                section(class = 'footer__about')
                    h3(class = 'footer__label') #{ABOUT_US}
                    +link-list(aboutLinkList)

                section(class = 'footer__support')
                    h3(class = 'footer__label') #{SUPPORT}
                    +link-list(supportLinkList)

            section(class = 'footer__subscribtion')
                h3(class = 'footer__label') #{SUBSCRIBTION}
                p(class = 'footer__paragraph') #{SPECIAL_OFFERS}
                +subscribtion-field(false, lang)

        hr(class = 'footer__separator')
            
        div(
            class = 'footer__basement'
            role = 'contentinfo'
        ) 
            p(class = 'footer__copyright') #{COPYRIGHT}
            
            section(class = 'footer__social')
                h3(class = 'footer__label visually-hidden') #{WE_IN_SOCIAL_MEDIA}
                +social-list(socialList)

                    




