include ./social-list/social-list
include ../logo/logo
include ../link-list/link-list
include ../subscribtion-field/subscribtion-field

mixin footer({ heading, logoLink, awardSection, navSection, aboutSection, supportSection, subscribtionSection, copyright, socialSection })
    footer(class = 'footer')
        div(class = 'footer__content')
            a(
                class = 'footer__logo-link' 
                href = logoLink.href
                title = logoLink.title
                aria-label = logoLink.ariaLabel
            )
                +logo()

            section(class = 'footer__awards-section')
                h3(class = 'footer__label footer__label_visually-hidden') #{awardSection.label}  
                p(class = 'footer__section-paragraph') #{awardSection.text}

            section(class = 'footer__nav-section')
                h3(class = 'footer__label') #{navSection.label}
                +link-list(navSection.linkList)

            section(class = 'footer__about-section')
                h3(class = 'footer__label') #{aboutSection.label}
                +link-list(aboutSection.linkList)

            section(class = 'footer__support-section')
                h3(class = 'footer__label') #{supportSection.label}
                +link-list(supportSection.linkList)

            section(class = 'footer__subscribtion-section')
                h3(class = 'footer__label') #{subscribtionSection.label}
                p(class = 'footer__section-paragraph') #{subscribtionSection.text}
                +subscribtion-field(subscribtionSection.subscribtionField)

        div(class = 'footer__separator')
            
        div(class = 'footer__basement') 
            p(class = 'footer__copyright') #{copyright.text}
            
            section(class = 'footer__social')
                h3(class = 'footer__label footer__label_visually-hidden') #{socialSection.label}
                +social-list(socialSection.socialList)

                    




