mixin toggle({ name, label, checked=false, disabled=false })
    label.toggle
        input.toggle__input(
            name=name
            type="checkbox"
            checked=checked
            disabled=disabled
            )
        div.toggle__box
        if label
            span.toggle__label #{label}