include ../rate-bar/rate-bar
include ../carousel/carousel

mixin room-card({ roomCard, room })
    -
        const pluralize = require('../../globals/helpers/pluralize.js');
        const wrapWordIntoTag = require('../../globals/helpers/wrapWordIntoTag.js');
        const reviewCount = pluralize(roomCard.reviewPlural, room.reviews.count)
    
    div(class = 'room-card js-room-card')
        div(
            class = 'room-card__carousel'
        )
            +carousel({
                images: room.images
            })

        div(class = 'room-card__info-header')
            p(class = 'room-card__room-number') № #{room.number}

            if room.category
                p(class = 'room-card__room-category') #{room.category}

            p(class = 'room-card__rent-price') #{room.rent.price} 
            p(class = 'room-card__rent-period') #{room.rent.period}

        div(class = 'room-card__info-rating')
            +rate-bar({
                name: room.number,
                count: '5',
                rating: room.rating,
                ariaLabel: roomCard.rateBar ? roomCard.rateBar.ariaLabel : false,
                title: roomCard.rateBar ? roomCard.rateBar.title : false,
                disabled: 'true'
            })

            p(class = 'room-card__reviews-count') !{wrapWordIntoTag(reviewCount, 1, 'b')}