include ../rate-bar/rate-bar
include ../glide/glide

mixin room-card({ room })

    -
        const img = [];
        room.image.small.forEach((item, index) => {
            let src;
            try {
                src = require.context('../../img', true)(`${item.src}`);
            } 
            catch(event) {
                src = '';
            }
            img.push({
                src: src.default,
                alt: item.alt,
                width: item.width,
                height: item.height
            });
        })
    
    div(class = 'room-card')
        div(class = 'room-card__carousel')
            

            +glide({
                img
            })
        div(class = 'room-card__info-section')
            span(class = 'room-card__room-number')
                span(class = 'room-card__numero-sign') № 
                | #{room.number}
                if room.category
                    span(class = 'room-card__room-category') #{room.category}
            span(class = 'room-card__rent-price') #{room.rent.price} 
                span(class = 'room-card__rent-period') #{room.rent.period}
        div(class = 'room-card__info-section')
            div(class = 'room-card__rate')
                +rate-bar({
                    name: room.number,
                    count: '5',
                    rating: room.rating,
                    disabled: 'true'
                })
            span(class = 'room-card__reviews-count') #{room.reviews.count} 
                span(class = 'room-card__rewiew-explantion') Отзывов