include ../rate-bar/rate-bar
include ../carousel/carousel

mixin room-card({ roomCard, room })
    -
        const pluralize = require('../../globals/helpers/pluralize.js');
        const wrapWordIntoTag = require('../../globals/helpers/wrapWordIntoTag.js');
        const reviewCount = pluralize(roomCard.review.plural, room.review.count)
    
    section(class = 'room-card')
        div(class = 'room-card__carousel')
            +carousel({
                images: room.images.card
            })
            -const label = `${roomCard.link.label} ${room.number}`
            -const title = `${roomCard.link.title} ${room.number}`
            a(
                class = 'room-card__link'
                href = roomCard.link.href
                title = title
            ) #{label} 

        div(class = 'room-card__header')
            h3(class = 'room-card__room-number') № #{room.number}

            if room.isLuxury
                p(class = 'room-card__room-category') #{roomCard.category}

            p(class = 'room-card__rent-price') #{room.rent} 
            p(class = 'room-card__rent-term') #{roomCard.term}

        div(class = 'room-card__rating')
            +rate-bar({
                name: room.number,
                count: '5',
                rating: room.rating,
                ariaLabel: roomCard.rateBar ? roomCard.rateBar.ariaLabel : false,
                title: roomCard.rateBar ? roomCard.rateBar.title : false,
                disabled: 'true'
            })

            p(class = 'room-card__reviews-count') !{wrapWordIntoTag({ str: reviewCount, number: 1, tag: 'b'})}