include ../rate-bar/rate-bar
include ./carousel/carousel

mixin room-card(roomCard, lang)
    -
        const pluralize = require('../../globals/helpers/pluralize.js');
        const currencyFormat = require('../../globals/helpers/currencyFormat.js');

        const {  
            number,
            isLuxury,
            rent,
            rating,
            reviewCount,
            href,
            imageList
        } = roomCard;
        
        const i18n = require('../../components/room-card/i18n.json')[lang]; 

        const {
            LEARN_MORE,
            REVIEW_PLURAL,
            LUXURY
        } = i18n;
    
    section(class = 'room-card js-room-card')
        +carousel(imageList, lang) 

        h3(class = 'room-card__heading')
            span(class = 'room-card__number') № #{number}
                if isLuxury
                    strong(class = 'room-card__сategory') &nbsp;#{LUXURY}

            span(class = 'room-card__rent')
                b(class = 'room-card__price') #{currencyFormat(lang, rent.currency, rent.number)} 
                small(class = 'room-card__term') #{rent.term}
        
        hr(class = 'room-card__separator')

        div(class = 'room-card__rating')
            +rate-bar({
                name: number,
                count: 5,
                rating: rating,
                disabled: true
            }, lang)
            p(class = 'room-card__review')
                b #{reviewCount}&nbsp;
                | #{pluralize(lang, REVIEW_PLURAL, reviewCount)}
        
        a(
            class = 'room-card__link'
            href = href
            title = LEARN_MORE
        ) #{LEARN_MORE}