extends ../../components/ui-kit/ui-kit

block title
    | Start page

block main
    div.start-page
        ul.start-page__list
            lh.start-page__list-heading Toxin UI Kit
            li.start-page__list-item
                a.start-page__link(
                    href='colors-and-type.html' 
                    title='Перейти на "colors & type"'
                ) colors & type
            li.start-page__list-item
                a.start-page__link(
                    href='form-elements.html' 
                    title='Перейти на "form elements"'
                ) form elements
            li.start-page__list-item
                a.start-page__link(
                    href='cards.html' 
                    title='Перейти на "cards"'
                ) cards
        
            