mixin slideshow(slideshow)
    -
        const getImagePath = require('../../globals/helpers/getImagePath.js');

        const {
            imageList,
            autoplay
        } = slideshow

    div(
        class = 'slideshow js-slideshow'
        data-autoplay = autoplay
    )
        ul(class = 'slideshow__slides')    
            each image in imageList
                -
                    const srcset = {
                        primary: image.srcset.reduce((acc, item) => `${acc} ${getImagePath(item.src)} ${item.size}w,`, '').slice(0, -1),
                        preloader: image.srcset.reduce((acc, item) => `${acc} ${getImagePath(item.preloader)} ${item.size}w,`, '').slice(0, -1)
                    };

                    const src = {
                        primary: getImagePath(image.srcset[image.srcset.length - 1].src),
                        preloader: getImagePath(image.srcset[image.srcset.length - 1].preloader)
                    };

                    const sizes = image.srcset.reduce((acc, item) => `${acc} ${item.media} ${item.size}px,`, '').slice(0, -1);

                li(class = 'slideshow__slide')
                    img(
                        class = 'slideshow__image slideshow__image_lazy'
                        data-src = src.primary
                        data-srcset = srcset.primary
                        sizes = sizes
                        alt = image.alt ? image.alt : false
                        loading = 'auto'
                    )  

                    img(
                        class = 'slideshow__image slideshow__image_preloader'
                        src = src.preloader
                        srcset = srcset.preloader
                        sizes = sizes
                        alt = image.alt ? image.alt : false
                        loading = 'auto'
                    ) 
                    
                     