mixin text-field({ label, type='text', name, value, mask, placeholder, maxlength, style, tabindex='0', borderless=false, readonly=false, autofocus=false, disabled=false, required=false, theme='default' })
    div.text-field.js-text-field(data-theme=theme)
        if label
            h3.text-field__label #{label}
        input.text-field__input.js-text-field__input(
                                                    type=type
                                                    name=name
                                                    value=value
                                                    placeholder=placeholder
                                                    data-mask=mask
                                                    readonly=readonly
                                                    required=required
                                                    spellcheck='false'
                                                    disabled=disabled
                                                    autofocus=autofocus
                                                    tabindex=tabindex
                                                    style=style
                                                    maxlength=maxlength
                                                    )
        if block
            block