mixin text-field({ label, input, button, icon })
    
    -let classes = `text-field js-text-field`;
    -classes =  icon ? `${classes} text-field_with_icon` : button ? `${classes} text-field_with_button` : `${classes}`;
    
    div(class = classes)
        if label
            h3(class = 'text-field__label') #{label}
        if input.type === 'button'
            input(
                class = 'text-field__hidden-input js-text-field__hidden-input'
                name = input.name
                required = input.required
                tabindex = '-1'
            )
        input(
            class = input.activityClass ? `text-field__input js-text-field__input ${input.activityClass}` : 'text-field__input js-text-field__input'
            type = input.type
            name = input.name
            value = input.value
            placeholder = input.placeholder
            data-mask = input.mask
            readonly = input.readonly
            required = input.required
            spellcheck = input.spellcheck
            disabled = input.disabled
            autofocus = input.autofocus
            tabindex = input.tabindex
            style = input.style
            maxlength = input.maxlength
        )
        if button
            button(
                class = button.activityClass ? `text-field__button ${button.activityClass}` : 'text-field__button' 
                type=button.type
            )
                span(class = button.icon.activityClass ? `text-field__icon ${button.icon.activityClass}` : 'text-field__icon')
                    |#{button.icon.text}
        if icon
            span(class = icon.activityClass ? `text-field__icon ${icon.activityClass}` : 'text-field__icon')
                |#{icon.text}
    