mixin text-field({ label, type='text', name, value, mask, placeholder, maxlength, style, tabindex='0', borderless=false, readonly=false, autofocus=false, disabled=false, required=false, theme='default', button, icon, hiddenInput })
    
    -const classes = theme ? `text-field js-text-field text-field_theme_${theme}` : 'text-field js-text-field';
    
    div(class=classes)
        if label
            h3.text-field__label #{label}
        if type === 'button'
            input.text-field__hidden-input.js-text-field__hidden-input(
                name=hiddenInput.name
                required=hiddenInput.required
                tabindex='-1'
                )
        input.text-field__input.js-text-field__input(
                                                    type=type
                                                    name=name
                                                    value=value
                                                    placeholder=placeholder
                                                    data-mask=mask
                                                    readonly=readonly
                                                    required=required
                                                    spellcheck='false'
                                                    disabled=disabled
                                                    autofocus=autofocus
                                                    tabindex=tabindex
                                                    style=style
                                                    maxlength=maxlength
                                                    )
        if button
            button.text-field__button(type=button.type)
                span.text-field__icon
                    if button.icon
                        if button.icon.wrapperClass
                            span(class=button.icon.wrapperClass) 
                                |#{button.icon.text}
                        else
                            |#{button.icon.text}
        if icon
            span.text-field__icon
                if icon.wrapperClass
                    span(class=icon.wrapperClass) 
                        |#{icon.text}
                else
                    |#{icon.text}
    