mixin text-field({ label, activityClass, input, button, icon })
    
    -let classes = `text-field js-text-field`;
    -classes = label ? `${classes} text-field_with_label` : classes;
    -classes = icon ? `${classes} text-field_with_icon` : button ? `${classes} text-field_with_button` : classes;
    -classes = input.type === 'button' ? `${classes} text-field_type_button` : classes;
    
    div(class = activityClass ? `${classes} ${activityClass}` : classes)
        label
            if label 
                p(class = 'text-field__label') #{label}
            input(
                class = input.activityClass ? `text-field__input js-text-field__input ${input.activityClass}` : 'text-field__input js-text-field__input'
                type = input.type
                name = (input.type !== 'button') ? input.name : false
                value = (input.type !== 'button') ? input.value : input.placeholder
                placeholder = (input.type !== 'button') ? input.placeholder : false
                readonly = input.readonly
                required = (input.type !== 'button') ? input.required : false
                spellcheck = input.spellcheck
                disabled = input.disabled
                autofocus = input.autofocus
                title = input.title
                aria-label = input.title
                tabindex = input.tabindex
                data-mask = input.mask
            )

            if input.type === 'button'
                input(
                    class = 'text-field__hidden-input js-text-field__hidden-input'
                    name = input.name
                    required = input.required
                    disabled = input.disabled
                    tabindex = '-1'
                    aria-hidden = 'true'
                )

        if icon
            span(class = icon.activityClass ? `text-field__icon ${icon.activityClass}` : 'text-field__icon')
                |#{icon.text}

        if button
            button(
                class = button.activityClass ? `text-field__button ${button.activityClass}` : 'text-field__button' 
                type=button.type
                aria-label=button.label
            )
                |#{button.icon}
    