mixin text-field({ label, input, button, icon, controlClass, activeClass })
    
    -let rootClasses = 'text-field js-text-field';
    -rootClasses = label ? `${rootClasses} text-field_with_label` : rootClasses;
    -rootClasses = button ? `${rootClasses} text-field_with_button` : icon ? `${rootClasses} text-field_with_icon` : rootClasses;
    -rootClasses = input.type === 'button' ? `${rootClasses} text-field_type_button` : rootClasses;
    -rootClasses = controlClass ? `${rootClasses} ${controlClass}` : rootClasses;
    -rootClasses = activeClass ? `${rootClasses} ${activeClass}` : rootClasses;
    
    div(class = rootClasses)
        label
            if label 
                p(class = 'text-field__label') #{label}

            -let inputClasses = 'text-field__input js-text-field__input';
            -inputClasses = input.controlClass ? `${inputClasses} ${input.controlClass}` : 'text-field__input js-text-field__input';
            -inputClasses = input.activeClass ? `${inputClasses} ${input.activeClass}` : 'text-field__input js-text-field__input';

            input(
                class = inputClasses
                type = input.type
                name = (input.type !== 'button') ? input.name : false
                value = (input.type !== 'button') ? input.value : input.placeholder
                placeholder = (input.type !== 'button') ? input.placeholder : false
                readonly = input.readonly
                required = (input.type !== 'button') ? input.required : false
                spellcheck = input.spellcheck
                disabled = input.disabled
                autofocus = input.autofocus
                title = input.title
                aria-label = input.ariaLabel
                aria-expanded = input.ariaExpanded
                tabindex = input.tabindex
                data-mask = input.mask
            )

            if input.type === 'button'
                input(
                    class = 'text-field__hidden-input js-text-field__hidden-input'
                    name = input.name
                    required = input.required
                    disabled = input.disabled
                    tabindex = '-1'
                    aria-hidden = 'true'
                )
            if !button
                if icon
                    span(class = icon.activeClass ? `text-field__icon ${icon.activeClass}` : 'text-field__icon') #{icon.text}

        if button
            button(
                class = 'text-field__button' 
                type = 'submit'
                aria-label = button.label
            )
                if icon
                    span(class = icon.activeClass ? `text-field__icon ${icon.activeClass}` : 'text-field__icon') #{icon.text}
                else if block
                    block

        
    