mixin link(link)
    -
        const {
            href,
            label,
            title,
            color,
            bold,
            button,
            border,
            fill
        } = link;

        let classes = 'link';

        classes = bold ? `${classes} link_bold` :  classes;
        classes = button ? `${classes} link_button` :  classes;
        classes = fill ? `${classes} link_filled` : classes;
        classes = border ? `${classes} link_with_border` : classes;

    a(
        class = classes
        href = href
        title = title
    )  #{label}